.quizHead{
     border: 2px solid red;
     background-color: #8CA9D3;

}
.quizBody{
     border: 2px solid red;
     height: 100%;
     background-color: #8CA9D3;


}
.quizButton{
     border: 2px solid violet;
     width: 100%;


}

.btn{
     width: 100%;
}