$myColor: #F26559;
$fontColor: #fff;
$bodyBg: #F0EFF4;
$cardBg: #8CA9D3;

// .container{
//  border: 2px solid rebeccapurple;
// }

h1{
     color: $fontColor;
     border: 2px solid black;

}
.nav{
     height: 100%;
     background: $myColor;

}
.heading{
     background: $myColor;
     border-radius: 12px;
     border: 2px solid black;

}
.nav a{
     float: right;
     color: $fontColor;

}
.body{
     height: 75vh;
     width: auto;
     padding: 15px;
     margin: auto;
     border-radius: 4px;
     background: $bodyBg;

}
.bodyCard{
     background-color: $cardBg;
}

.btn{
     // background: $myColor;
     color: $myColor;
     
}

.quizIcon img{
     background-position: center; /* Center the image */
     background-repeat: no-repeat; /* Do not repeat the image */
     background-size: cover; /* Resize the background image to cover the entire container */
     max-height: 100%;
     max-width: 100%;
     padding: 4px;
     align-self: center;
}
.footer{
     height: 15vh;
     background: $myColor;
     border-radius: 2px;

      

}
$newColor: blanchedalmond;
.footer p{
     color: $newColor;
}