$myColor: #F26559;
$fontColor: #fff;
$bodyBg: #F0EFF4;
$cardBg: #8CA9D3;
$fontBanger:'Bangers', cursive;
$fontNew: 'Chakra Petch', sans-serif;

.container{
     box-shadow: 0px 4px 0px 4px rgba(0, 0, 0, 0.08);
}

h1{
     color: $fontColor;

}
.nav{
     height: 100%;
     background: $myColor;
     padding: 8px;
     font-family: $fontBanger;

}
.heading{
     background: $myColor;
     border-radius: 2px;
     padding: 8px;

}
.nav .leaderBoard{
     color: $fontColor;
     text-decoration: none;
     // margin-left: 100%; 
     margin: auto 0px auto auto;
}
.body{
     height: 73vh;
     width: auto;
     padding: 15px;
     margin: auto;
     border-radius: 4px;
     background: $bodyBg;

}

.bodyCard{
     background-color: $cardBg;
     border-radius: 2px;
}
// .bodyCard p{
//      font-family: $fontNew;
// }
.bodyCard h5{
     color: $myColor;
}

.btn{
     background: $myColor;
     color: $fontColor;
     
}

.btn :hover{
     color: $fontColor;
}

.quizIcon{
     padding-top: 20px;
}

.quizIcon img{
     background-position: center; /* Center the image */
     background-repeat: no-repeat; /* Do not repeat the image */
     background-size: cover; /* Resize the background image to cover the entire container */
     max-height: 100%;
     max-width: 100%;
     padding: 20px;
     display: block;
     align-self: center;
     margin: auto;
      
     
}
.footer{
     height: 17vh;
     background: $myColor;
     border-radius: 2px;
     color: $fontColor;
     padding: 8px;

      

}
$newColor: blanchedalmond;
.footer p{
     color: $fontColor;
     font-size: 0.9rem;
     opacity: 0.5;
}
.footer ul{
     margin: 0px;
     padding: 0px;
}
.footer ul li{
     list-style: none;
     display: inline;
     margin-right: 20px;
     // padding: 12px;
     // & i{
     //      font-size: 1.6rem;
     // }
     
}
// .footer ul li i{
//      font-size: 1.6rem;
// }
.footer .follow{
     display: inline;
     font-size: 1.2rem;
      
}
.footer .footerContainer{
     display: flex;
     flex-direction: row;
}
.blankDiv{
     border: 2px solid #fff;
     height: 7rem;
     width: 4px;
     border-radius: 4px;
     background: $fontColor;
     margin-right: 8px;
}