.container {
  box-shadow: 0px 4px 0px 4px rgba(0, 0, 0, 0.08);
}

h1 {
  /* color: red; */
  color: #fff;

}

.nav {
  height: 9vh;
  background: #f26559;
  /* background: black; */
  padding: 8px;
  font-family: "Bangers", cursive;
}

.heading {
  background: #f26559;
  border-radius: 2px;
  padding: 8px;
}

.nav .leaderBoard {
  color: #fff;
  text-decoration: none;
  margin: auto 0px auto auto;
}

.body {
  height: 73vh;
  width: auto;
  padding: 15px;
  margin: auto;
  border-radius: 4px;
  background: #f0eff4;
}

.bodyCard {
  background-color: #8ca9d3;
  border-radius: 2px;
}

.bodyCard h5 {
  color: #f26559;
}

.btn {
  background: #f26559;
  color: #fff;
}

.btn:hover {
  color: #fff;
  color: #8ca9d3;
}

.quizIcon {
  padding-top: 20px;
}

.quizIcon img {
  background-position: center;
  /* Center the image */
  background-repeat: no-repeat;
  /* Do not repeat the image */
  background-size: cover;
  /* Resize the background image to cover the entire container */
  max-height: 100%;
  max-width: 100%;
  padding: 20px;
  display: block;
  align-self: center;
  margin: auto;
}

.footer {
  border: 2px solid aqua;
  height: 20vh;
  background: #f26559;
  border-radius: 2px;
  color: #fff;
  padding: 8px;
}

.footerContainer {
  display: flex;
  flex-direction: row;
  border: 2px solid greenyellow;
}

.footer p {
  color: #fff;
  font-size: 0.9rem;
  opacity: 0.5;
}

.footer ul {
  margin: 0px;
  padding: 0px;
}

.footer ul li {
  list-style: none;
  display: inline;
  margin-right: 20px;
}

.footer .follow {
  font-size: 1.1rem;
}

.blankDiv {
  border: 2px solid #fff;
  height: 6.5rem;
  width: 4px;
  border-radius: 4px;
  background: #fff;
  margin-right: 8px;
}
